# --- Your dataset folders ---
/content/images/
/dataset_turtle_cropped/
/dataset_turtle_preprocessed/
/dataset_turtle_preprocessed_Augmentation/
/dataset_turtle_registered/

# --- Python cache & venv ---
venv/
__pycache__/
*.pyc

# --- Notebook checkpoints ---
.ipynb_checkpoints/

# --- Temporary / OS junk ---
.DS_Store
Thumbs.db
